header {
    .container {
        @extend %container;
        @include flex-props();
        .logo {
            width: 50px;
        }
        .flex {
            @include flex-props();
            max-width: 500px ;
            & > li{
                color: green;
                font-size: 25px;
            }
            
            
        }
    }
}
section {
    .container {
        @extend %container;
        @include flex-props();
        .Lorem-test {
            &:hover{
                &::first-letter {
                    color: green
                };
            }
            &::first-letter {
                color: blueviolet;
            }
            color: blue;
            letter-spacing: 1.3px;
            line-height: 30px;
            max-width: 400px;
            
        }
        .Bird-flex {
            flex-wrap: wrap;
            .Birds{
                width: 300px;
                height: 150px;       
            }    
        }
       @media (max-width:822px) {
           flex-direction: column;
       }
    }
}